.container {
    display: flex; flex-wrap: wrap; justify-content: center; align-items: flex-start;
    padding: 20px; gap: 20px; width: 70vw;
}



@media screen and (max-width: 500px) {
    .container { flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: center; height: 100rem; }
}

@media screen and (min-width: 500px) and (max-width: 647px) {
    .container { height: 90rem; width: 90%; }
}

@media screen and (min-width: 647px) and (max-width: 970px) {
    .container { height: 55rem; width: 90%; }
}

@media screen and (min-width: 970px) and (max-width: 1250px) {
    .container { height: 40rem; width: 90%; }
}

@media screen and (min-width: 1250px) {
    .container { height: 35rem;}
}